
<head>
  <title>Three.js Crash Course</title>
  <link type="text/css" rel="stylesheet" href="style.css"/>
</head>
<body>
  <script type="module">"three.module.js"</script>
  <script src="three.js"></script>
  <script src="script.js"></script>

</body>
